<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="move_forward_only" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)" output="screen"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>      

    <!-- Run navigation stack    -->   
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">  
      <remap from="map" to="/map" />         
      <!-- <param name="controller_frequency" value="10.0" /> -->  
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      
      <rosparam file="$(find gazebo_navigation_multi)/move_base_config/costmap_common_params_tb3.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find gazebo_navigation_multi)/move_base_config/costmap_common_params_tb3.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find gazebo_navigation_multi)/move_base_config/local_costmap_params_tb3.yaml" command="load" />
      <rosparam file="$(find gazebo_navigation_multi)/move_base_config/global_costmap_params_tb3.yaml" command="load" />
      <rosparam file="$(find gazebo_navigation_multi)/move_base_config/move_base_params_tb3.yaml" command="load" />      
      
      <rosparam file="$(find gazebo_navigation_multi)/move_base_config/dwa_local_planner_params_burger.yaml" command="load" />      
      <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
 
    </node>   

        <!--Localization -->
     <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>
 <!--transform odon to map-->
 <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map $(arg robot_name)/odom 100" />

<!--Get position
<node pkg="gazebo_navigation_multi" type="print_position_multi" name="print_position_multi" output="screen" />
   -->

</launch>
